:root {
    --main-light: #18cfab;
    --supportive-light: #00CBF6;

    --section-heading-text: #4E4E4E;

    --tabs-text: #717171;
    --tabs-border: #DADADA;
}

.hidden-content-container {
    display: none;
}

html {
    font-family: 'Montserrat', sans-serif;
}

/*Common Styles*/
.centered-container {
    max-width: 1160px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.site-CTA-button {
    margin: 0 13px;
    padding: 16px 18px;
    background-color: var(--main-light);

    border-radius: 5px;
    box-shadow: 0 -5px 0 0 #FFF;

    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    outline: transparent;
    transition: 0.5s;
}

.site-CTA-button:hover {
    box-shadow: 0 -5px 0 0 #FFF, inset 0 0 5px 2px rgba(0,0,0,0.2);
}

.site-CTA-button:active {
    box-shadow: 0 -3px 0 0 #FFF, inset 0 0 10px 2px rgba(0,0,0,0.6);
}

.site-loadMore-button {
    box-shadow: none;
}
.site-loadMore-button::before {
    display: inline-block;
    content: '+';
    font-weight: 700;
    font-size: 2.5em;
    padding-right: 0.25em;
    vertical-align: -20%;
}

.site-loadMore-button-no-decor::before {
    display: none;
}
.site-loadMore-button-no-decor svg {
    width: 64px;
    height: 64px;
    transform-origin: 29px center;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-name: rotation;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(270deg);
    }

}

.standard-section-heading {
    position: relative;
    width: fit-content;
    margin: 0 auto 70px;

    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #4E4E4E;
    text-transform: capitalize;
}

.standard-section-heading::after{
    display: block;
    margin: 24px auto 0;
    width: 78px;
    height: 1px;

    content: ' ';
    background: var(--main-light);
    box-shadow: 4px 4px var(--main-light);
}

.interactive-categories-list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.interactive-categories-list li {
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 35px;

    background: #F8FCFE;
    border: 1px solid var(--tabs-border);
    border-right: none;
    cursor: pointer;

    color: var(--tabs-text);
    font-weight: 400;
}

.interactive-categories-list li:last-of-type {
    border-right: 1px solid var(--tabs-border);
}

.interactive-categories-list li:hover {
    border-color: var(--main-light);
    box-shadow: inset 0 0 0 1px var(--main-light);,
}

.interactive-categories-list li:hover + li {
    border-left-color: var(--main-light);
}

.interactive-categories-list li:first-of-type:hover {
    border-left: 1px solid var(--main-light);
}
.interactive-categories-list li:last-of-type:hover {
    border-right: 1px solid var(--main-light);
}
/*Common Styles End*/

/*Animation Styles*/
.nav-hidden {
    opacity: 0;
    transform: translateY(-100%);
}

.nav-shown {
    opacity: initial;
    transform: translateY(0);
}

.fading-in {
    opacity: 1;
}

.fading-out {
    opacity: 0;
}
/*Animation Styles*/


/*Nav Styles*/
#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(94, 93, 88, 0.6);
    z-index: 2;
    transition: 0.5s;
}
#nav-container {
    justify-content: space-between;
    align-items: baseline;
}

#site-logo {
    width: fit-content;
    padding: 0;
    color: #FFF;
    font-size: 32px;
}

#styled-logo-icon {
    display: inline-block;
    padding: 18px 14px;

    background-color: var(--main-light);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 48% 97%, 0 75%, 0 25%);

    vertical-align: middle;
    font-size: 40px;
    font-weight: 700;
}

#title-first-part {
    display: inline;
    font-weight: 400;
}
#title-second-part {
    display: inline;
    color: var(--main-light);
    font-weight: 700;
}

#nav-menu {
    opacity: 0.6;
}
.nav-menu-item {
    box-sizing: border-box;
    display: inline-block;
    padding: 50px 0;
    margin: 0 10px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
}

.nav-menu-item:hover {
    color: var(--main-light);
    border-bottom: 2px solid var(--main-light);
}

.nav-menu-item:last-of-type:hover {
    border-bottom: 2px solid transparent;
}

#nav-search-icon {
    fill: #FFFFFF;
    vertical-align: sub;
    max-width: 22px;
    max-height: 22px;
    transition: 2s;
}
#nav-search-icon:hover {
    filter: url(#to-main-color-filter);
}

/*Nav Styles End*/

/*Header Styles*/
#site-header {
    background: linear-gradient(
                rgba(255, 255, 255, 0.2),
                rgba(255, 255, 255, 0.2)),
                url("../images/Sections background/section-1(header).jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-weight: 700;
    color: #FFF;
}

#header-text-container {
    padding-top: 380px;
    margin-bottom: 130px;
}


#theme-name {
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 22px;
}
#theme-name-emphasis {
    color: var(--main-light);
}

#theme-main-description {
    font-size: 78px;
    text-transform: uppercase;
    padding-bottom: 22px;
}
#theme-additional-description {
    font-size: 34px;
    text-align: center;
    font-weight: 300;
    color: #D4D4D4;
}

#header-buttons-container {
    margin-top: 130px;
    padding-bottom: 243px;
}


#header-buttons-container > .site-CTA-button:nth-of-type(2n) {
    background-color: var(--supportive-light);

}
/*Header Styles End*/
#theme-features-section {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
}

#theme-features-list {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    flex-wrap: wrap;
}

.theme-feature {
    min-width: fit-content;
    min-height: 380px;
    flex: 1 1 auto;
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3em;
    text-align: center;
}
.theme-feature:nth-child(2n-1) {
    background: #1C2A33;;
    color: var(--main-light);
}
.theme-feature:nth-child(2n-1) svg {
    fill: var(--main-light);
}

.theme-feature:nth-child(2n) {
    background: var(--main-light);
    color: #fff;
}
.theme-feature:nth-child(2n) svg {
    fill: #FFF;
}

/*Our Services Section*/
#our-services-section {
    padding: 82px 0 91px;
}

#our-services-list {
    margin-bottom: 25px;
}

#our-services-list li.active-tab{
    position: relative;
    cursor: initial;

    color: #FFF;
    background-color: var(--main-light);
    border-color: var(--main-light);
}

.interactive-categories-list .our-services-active-list-item::after{
    display: block;
    position: absolute;
    bottom: -9px;
    left: calc(50% - 8px);

    content: ' ';
    background-color: var(--main-light);
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
}

#our-services-description-container {
    min-height: 139px;
}

.our-services-illustration {
    width: 100%;
    height: 100%;
    max-width: 207px;
    max-height: 139px;
    float: left;

    padding-right: 15px;
}

.our-services-descr-text {
    display: inline;
    font-weight: 300;
    font-size: 13.5px;
    line-height: 24px;
    color: #777777;

}
/*Our Services Section Ends*/

/*Middle CTA Section*/
#middle-CTA-section {
    padding: 130px 0;

    background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url("../images/Sections background/section-2.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

#middle-CTA-heading {
    padding-bottom: 13px;

    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-light);
}

#middle-CTA-heading + p {
    padding-bottom: 62px;
    font-weight: 400;
    color: #D8D8D8;
}
/*Middle CTA Section Ends*/

/*Our Amazing Work Starts*/
#our-amazing-work-section {
    text-align: center;
    background: #E9EDEF;
    padding: 93px 0 100px;
}

#our-works-categories-list li {
    background: transparent;
}

#our-works-categories-list li.active-tab {
    color: var(--main-light);
}

#our-works-samples-gallery {
    justify-content: center;
    padding: 70px 0;
    flex-wrap: wrap;
}

#our-works-samples-gallery img{
    object-fit: cover;
    object-position: center;
    flex: 1 1 auto;
    max-width: calc(50% - 5px);
}

/*Descriptions Start*/
.our-work-additional-info {
    height: 211px;
    position: absolute;
    box-sizing: border-box;
    padding: 48px 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #E9EDEF;
    border-top: 2px solid var(--main-light);
    transition: opacity 2s;
}

.our-work-additional-info div{
    width: fit-content;
}

.our-work-additional-info-first-link, .our-work-additional-info-second-link {
    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--main-light);
    border-radius: 50%;
    transition: 0.5s;
}

.our-work-additional-info-first-link {
    padding: 12px;
}
.our-work-additional-info-first-link path{
    filter: url('#to-main-color-filter');
}
.our-work-additional-info-first-link:hover {
    border: none;
    background-color: var(--main-light);
}
.our-work-additional-info-first-link:hover path {
    filter: none;
}
.our-work-additional-info-second-link {
    position: relative;
    padding: 20px;
}
.our-work-additional-info-second-link::after {
    content: ' ';
    position: absolute;
    display: block;
    top: 15px;
    left: 15px;
    height: 10px;
    width: 10px;
    background-color: var(--main-light);

}
.our-work-additional-info-second-link:hover {
    background-color: var(--main-light);
}
.our-work-additional-info-second-link:hover::after {
    background-color: #FFF;
}
.our-work-additional-info-project-name {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: var(--main-light);
}
.our-work-additional-info-project-type {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #8A8A8A;
}
.our-work-additional-info-project-type:first-letter {
    text-transform: uppercase;
}

/*Descriptions End*/
/*Our Amazing Work Ends*/


/*Breaking News*/
#breaking-news-section {
    color: #717171;
    padding: 83px 0 130px;
}

#breaking-news-list{
    flex-wrap: wrap;
    gap: 35px;
}

.breaking-news-list-item {
    position: relative;
    background: #F8FCFE;
}

.breaking-news-list-item:hover .breaking-news-publish-date {
    background: var(--main-light);
}
.breaking-news-list-item:hover .news-post-heading {
    color: var(--main-light);
}

.breaking-news-publish-date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;

    color: #FFF;
    background: #203E38;
    text-align: center;
    line-height: 1.25;
}

.news-post-heading {
    padding: 1em;
    font-weight: 700;
}

.breaking-news-publisher {
    display: inline-block;
    font-weight: 300;
    border-right: 1px solid #717171;
    padding: 0 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}
.breaking-news-comment-counter {
    font-weight: 300;
    padding-left: 1em;
}
/*Breaking News End*/

/*What People Say Section*/
#user-opinion-section {
    background:
    url("../images/Sections background/section-3.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    padding: 98px 0 104px;
    text-align: center;
}

#user-opinion-section .standard-section-heading {
    color: #FFF;
}

#reviews-slider::before {
    display: block;
    width: fit-content;
    margin: 0 auto 36px;
    content: url("../images/icons/quotation marks.svg");
    filter: url('#to-main-color-filter');
}


.user-opinion {
    color: #BBB;
    line-height: 30px;
    font-weight: 300;
}
.user-name {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-light);
    padding: 37px 0 15px;
}
.user-occupation {
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 38px;
}

.user-portrait {
    max-width: 142px;
    max-height: 142px;
    border-radius: 50%;
    border: 12px solid rgba(24,207,171,0.2);
}
.user-portrait-thumbnail {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    border: 5px solid rgba(24,207,171,0.2);
}
#reviews-slider-thumbnails-relative-wrapper {
    position: relative;
    margin: 0 auto;
    width: 50%;
}

#reviews-slider-thumbnails {
    padding: 55px 0 0;
}

#reviews-slider-thumbnails .swiper-slide {
    transition: 0.5s;
    cursor: pointer;
}
#reviews-slider-thumbnails .swiper-slide-thumb-active {
    transform: translateY(-25%);
    cursor: initial;
}

.swiper-control-button {
    position: absolute;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #BBB;
    color: #BBB;
    outline: none;
}

.swiper-button-prev {
    left: -10%
}
.swiper-button-next {
    right: -10%;
}

.swiper-control-button::after{
    color: #BBBBBB;
    font-weight: bold;
    font-size: 100%;
}

.swiper-control-button:hover {
    border: 1px solid var(--main-light);
    background: var(--main-light);
    color: #fff;
}
.swiper-control-button:hover::after {
    color: #fff;
}

/*What people say Section Ends*/

/*Footer Styles*/
#site-footer {
    background: #22353F;
}

.footer-legal-info {
    width: fit-content;
    padding: 48px 0 48px;
    margin: 0 auto;

    font-weight: 300;
    color: #AEAEAE;
    
}
.footer-legal-info span {
    color: var(--main-light);
}
/*Footer Styles End*/